# Database Configuration (Overrides by Environment Variables: DB_URL, DB_USER, DB_PASSWORD)
db.url=jdbc:mysql://YOUR_DB_HOST:4000/pathology_lab?sslMode=VERIFY_IDENTITY&enabledTLSProtocols=TLSv1.2,TLSv1.3
db.driver=com.mysql.cj.jdbc.Driver
db.username=YOUR_DB_USERNAME
db.password=YOUR_DB_PASSWORD

# Email Configuration (Overrides by Environment Variables: EMAIL_FROM, EMAIL_PASSWORD)
email.from=your-email@gmail.com
email.from.name=PathologyLab
email.reply.to=noreply@pathologylab.com
email.password=YOUR_APP_PASSWORD
email.smtp.host=smtp.gmail.com
email.smtp.port=587

# File Path Configuration (Overrides by Environment Variable: REPORTS_PATH)
reports.path=/tmp/reports/